!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='imagetoolbar', content='false')
    //-title=title
    //-meta(name="description", content=description)
    //-meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    script(src='js/libs/Modernizr/modernizr.2.0.6.min.js')
  body
    header
      .topbar
        .topbar-inner(data-dropdown='dropdown')
          .container-fluid
            a.brand(href='#') Title here
            ul.nav.secondary-nav
              li.active
                a(href='#') Home
              li
                a(href='#/user/create') About
              li.dropdown
                a.dropdown-toggle(href='#contact') Contact
                ul.dropdown-menu
                  li
                    a(href='#') Secondary link
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Another link
            form.pull-right(action='')
              input(type='text', placeholder='Search')
    div(role='main')
      .container-fluid
        .page-header
          h1
            | jQuery UI Bootstrap
            small A Bootstrap-themed kickstart for jQuery UI widgets (v0.14)
        .filler.sidebar
        .sidebar
          | omfg2
        .filler.content
        .content!= body
    footer
      .container-fluid
        p.pull-right &copy; Company 2011
    
    //Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/libs/jQuery/jquery-1.7.1.js"><\\/script>')
    
    //Grab Google CDN's jQuery UI, with a protocol relative URL; fall back to local if offline 
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script
      window.jQuery.ui || document.write('<script src="js/libs/jQueryUI/jquery-ui-1.8.16.custom.min.js"><\\/script>')
    
    //scripts concatenated and minified via build script 
    script(defer='defer', src='js/plugins.js')
    script(defer='defer', src='js/script.js')
    //end scripts 
    
    //Bootstrap application 
    script(data-main='js/main', src='js/libs/Require/require.js')

    //Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
    script
      /*
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      */
    
    //
       Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started 
             
    //if lt IE 7 
      script(defer='defer', src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer='defer')
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
